
<div class="container">
  <input type="checkbox" id="check">
  <div class="login form_css">
    <header>Вход</header>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text" formControlName="login_username" placeholder="Логин" id="login_username">
      <input type="password" formControlName="login_password" placeholder="Пароль" id="login_password">
      <input type="submit" class="button" value="Войти">
    </form>
    <div class="signup">
        <span class="signup">Еще нет аккаунта?
         <label for="check">Зарегистрируйтесь!</label>
        </span>
    </div>
  </div>
  <div class="registration form_css">
    <header>Регистрация</header>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <input type="text" formControlName="username" placeholder="Логин" >
      <input type="password" formControlName="password" placeholder="Придумайте пароль" id="password">
      <input type="password" formControlName="re_password" placeholder="Повторите пароль" id="re_password">
      <input type="submit" class="button" value="Регистрация">
    </form>
    <div class="signup">
        <span class="signup">Уже зарегистрированы?
         <label for="check">Вход</label>
        </span>
    </div>
  </div>
</div>
